html,
body {
    margin: 0;
    padding: 2px 4px;
    overflow: hidden;
    background: radial-gradient(circle at top left, #ffdaed 0%, transparent 80%),
        radial-gradient(circle at top right, #ffdaed 0%, transparent 80%),
        radial-gradient(circle at bottom left, #ffdaed 0%, transparent 80%),
        radial-gradient(circle at bottom right, #ffdaed 0%, transparent 80%);

}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at top left, #ffdaed 0%, transparent 80%),
        radial-gradient(circle at top right, #ffdaed 0%, transparent 80%),
        radial-gradient(circle at bottom left, #ffdaed 0%, transparent 80%),
        radial-gradient(circle at bottom right, #ffdaed 0%, transparent 80%);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(255, 192, 203, 0.678) rgba(255, 0, 0, 0.300);
    scrollbar-width: thin;
}
.main::-webkit-scrollbar-scrollbar {
    width: 2px;
}

.top-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 4px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 0 0 8px white;
    background: radial-gradient(circle at top left, #fdd4ea 0%, transparent 80%),
        radial-gradient(circle at top right, #fdd4ea 0%, transparent 80%),
        radial-gradient(circle at bottom left, #ffdaed 0%, transparent 80%),
        radial-gradient(circle at bottom right, #fdd4ea 0%, transparent 80%);
    ;

}

.brand {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 4px;
}

.stu-hol {
    display: flex;
    gap: 4px;
    cursor: pointer;
}

.stu-pic {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid white;
    cursor: pointer;
}

.stu-name {
    font-size: 0.6rem;
    padding: 4px;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.top-nav img {
    width: 50px;
    object-fit: cover;
}

.top-nav h3 {
    font-size: clamp(0.7rem, 2vw, 2rem);
    font-weight: 800;
}

.student-hol {
    justify-self: flex-end;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

@media (max-width:600px) {
    .cont {
        justify-content: center;
    }
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
    width: max-content;
    min-width: 290;
    margin-left: 20px;
    height: 150px;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 4px white, inset 0 0 8px white;
    background: linear-gradient(45deg, white, pink);
}


.hero strong {
    color: rgb(54, 27, 27);
    font-size: 0.7rem;
    font-weight: 700;
    text-wrap: nowrap;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.computer-dp {
    width: clamp(190px, 2vw, 200px);
}

.your-progress-bar {
    padding: 10px;
    background: rgb(255, 219, 225);
    border-radius: 20px;
    min-width: 280px;
    margin-top: 10px;
    border: 1px solid white;
    box-shadow: 0 0 4px white, inset 0 0 8px white;

}

.pro-ti {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: rgb(129, 53, 65);

}

.pro-s {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 4px;
}

.progress-wrap {
    display: flex;
    width: 60px;
    height: 6px;
    overflow: hidden;
    background-color: rgb(211, 200, 200);
    border: 1px solid white;
    filter: drop-shadow(0 0 4px rgb(133, 132, 132));
    border-radius: 99px;
}

.progress-wrap span {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, purple, rgb(252, 165, 179), red);
    transform: translateX(-99%);
    border-radius: 99px;
}

.pro-count {
    color: rgb(126, 62, 73);
    font-weight: 500;
    font-size: 0.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.course {
    color: rgb(126, 62, 73);
    font: 500;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 2px solid rgb(124, 38, 38);
    padding: 0 4px;
}

.btn {
    border-radius: 99px;
    background: rgb(255, 95, 122);
    border: 1px solid white;
    box-shadow: 0 0 4px white, inset 0 0 4px White, 0 0 8px rgb(114, 113, 113);
    padding: 4px;
    font-size: 0.8rem;
    font-family: fantasy;
    cursor: pointer;
    transition: all 0.3s ease;
}

.continue {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: rgb(255, 2, 44);

}

.btn:hover,
.btn:active {
    transform: scale(0.9);
}

.learn-his {
    gap: 15px;
    background: linear-gradient(to bottom, rgb(255, 209, 209), rgb(255, 219, 225));
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0 0 4px white, inset 0 0 4px rgb(255, 255, 255);
    color: rgb(255, 99, 125);
}

.courses {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.course-card {
    max-width: 100px;
    background: linear-gradient(to bottom, rgb(255, 209, 209), rgb(255, 219, 225));
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid rgb(253, 249, 249);
    box-shadow: 0 0 4px rgb(255, 254, 254), inset 0 0 8px rgb(228, 226, 226);
}

.course-name {
    font-size: 0.6rem;
    font-weight: bolder;
}

.course-sec {
    position: absolute;
    display: none;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(255, 209, 209), rgb(255, 219, 225));
}

.active {
    display: flex;
}

.enroll {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    inset: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.enroll-b {
    width: 80%;
    justify-content: space-between;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 202, 202);
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.627) 0%, rgba(255, 192, 203, 0.605) 70%);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 10px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255);
}

.e-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.e-c-n {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.e-logo {
    width: 250px;
    height: 200px;
    object-fit: cover;
    z-index: 2;
    transform: translateY(8px) translateX(40px);
    overflow: visible;
    animation: enrollAnimation alternate-reverse 2s infinite;
}

@keyframes enrollAnimation {
    0% {
        transform: translateY(8px) translateX(40px);
    }

    100% {
        transform: translateY(14px) translateX(40px);
    }
}

.e-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 202, 202);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    background: linear-gradient(-135deg, rgba(255, 0, 0, 0.627) 0%, rgba(255, 192, 203, 0.605) 70%);

}

.e-bottom:hover,
.e-bottom:active {
    background: linear-gradient(-135deg, rgba(255, 0, 0) 0%, rgba(255, 192, 203) 70%);

}

.hidden {
    display: none;
}